[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "==6.11.0"
opencv-python = "==4.13.0.92"
numpy = "==2.2.6"
psutil = "==7.2.2"
pynput = "==1.8.1"
pytesseract = "==0.3.13"
windows-capture = "==1.5.0"
pywin32 = "==311"
sentry-sdk = "==2.57.0"
sip = "*"
certifi = "==2026.2.25"
packaging = "==26.0"
pillow = "==12.2.0"
pyqt6-qt6 = "==6.11.0"
pyqt6-sip = "==13.11.1"
six = "==1.17.0"
urllib3 = "==2.6.3"
pyqt6-websockets = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
