[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
opencv-python = "*"
numpy = "*"
psutil = "*"
pynput = "*"
pytesseract = "*"
windows-capture = {version = "*", markers = "sys_platform == 'win32'"}
pywin32 = {version = "*", markers = "platform_system == 'Windows'"}
sentry-sdk = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
